<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Курс Ruby on Rails</title>
  <link rel="stylesheet" href="../assets/css/styles.css">
  <script src="../assets/js/jquery-2.1.4.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
  <script src="../assets/js/test.js"></script>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="../index.html" class="navbar-brand">Курс Ruby on Rails</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav nav">
          <li><a href="theory.html">Урок</a></li>
          <li class="active"><a href="tests.html">Тести</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container">
    <div class="alert alert-info" role="alert">
      <h3>Тестове завдання</h3>
      <strong>Увага!</strong>
      Не рекомендовано починати робити тестове завдання без попереднього ознайолення з теоретичними відомостями на сторінці <a href="theory.html">Урок</a> на сайті.
    </div>

    <section class="tests">
      <div class="question question1">
        <span class="question-title">
          1. Паттерн, який лежить в основі фреймворку Rails, є:
        </span>
        <div class="form-group">
          <label>
            <input type="radio" name="qustion1" class="radio_1">
            <span>a) MVVM</span>
          </label>
        </div>

        <div class="form-group">
          <label>
            <input type="radio" name="qustion1" class="radio_2">
            <span>b) MVC</span>
          </label>
        </div>

        <div class="form-group">
          <label>
            <input type="radio" name="qustion1" class="radio_3">
            <span>c) MVP</span>
          </label>
        </div>
      </div>

      <div class="question question2">
        <span class="question-title">
          2. Який рівень відповідає за операції з даними в Rails?
        </span>
        <div class="form-group">
          <label>
            <input type="radio" name="qustion2" class="radio_1">
            <span>a) Рівень контроллеру</span>
          </label>
        </div>

        <div class="form-group">
          <label>
            <input type="radio" name="qustion2" class="radio_2">
            <span>b) Рівень відображення</span>
          </label>
        </div>

        <div class="form-group">
          <label>
            <input type="radio" name="qustion2" class="radio_3">
            <span>c) Рівень моделі</span>
          </label>
        </div>
      </div>

      <div class="question question3">
        <span class="question-title">
          3. Якою командою можна розпочати новий проект на Rails?
        </span>
        <div class="form-group">
          <label>
            <input type="radio" name="qustion3" class="radio_1">
            <span>a) rails new</span>
          </label>
        </div>

        <div class="form-group">
          <label>
            <input type="radio" name="qustion3" class="radio_2">
            <span>b) rails start</span>
          </label>
        </div>

        <div class="form-group">
          <label>
            <input type="radio" name="qustion3" class="radio_3">
            <span>c) rails scratch</span>
          </label>
        </div>
      </div>

      <div class="question question4">
        <span class="question-title">
          4. Для чого використовується файл database.yml?
        </span>
        <div class="form-group">
          <label>
            <input type="radio" name="qustion4" class="radio_1">
            <span>a) Для збереження конфігурації бази даних</span>
          </label>
        </div>

        <div class="form-group">
          <label>
            <input type="radio" name="qustion4" class="radio_2">
            <span>b) Як файл бази даних, куди записується інформація</span>
          </label>
        </div>

        <div class="form-group">
          <label>
            <input type="radio" name="qustion4" class="radio_3">
            <span>c) Виконуваний файл бази даних</span>
          </label>
        </div>
      </div>

      <div class="question question5">
        <span class="question-title">
          5. В якій папці лежать статичні файли?
        </span>
        <div class="form-group">
          <label>
            <input type="radio" name="qustion5" class="radio_1">
            <span>a) config </span>
          </label>
        </div>

        <div class="form-group">
          <label>
            <input type="radio" name="qustion5" class="radio_2">
            <span>b) public</span>
          </label>
        </div>

        <div class="form-group">
          <label>
            <input type="radio" name="qustion5" class="radio_3">
            <span>c) static</span>
          </label>
        </div>
      </div>

      <div class="question question6">
        <span class="question-title">
          6. Що таке файли міграцій?
        </span>
        <div class="form-group">
          <label>
            <input type="radio" name="qustion6" class="radio_1">
            <span>a) Виконувані файли бази даних</span>
          </label>
        </div>

        <div class="form-group">
          <label>
            <input type="radio" name="qustion6" class="radio_2">
            <span>b) Файли, які переносять дані з однієї бази до іншого</span>
          </label>
        </div>

        <div class="form-group">
          <label>
            <input type="radio" name="qustion6" class="radio_3">
            <span>c) Файли ікрементальних змін до бази даних</span>
          </label>
        </div>
      </div>

      <div class="question question7">
        <span class="question-title">
          7. Якого відношення моделей немає у Rails?
        </span>
        <div class="form-group">
          <label>
            <input type="radio" name="qustion7" class="radio_1">
            <span>a) Many-to-one </span>
          </label>
        </div>

        <div class="form-group">
          <label>
            <input type="radio" name="qustion7" class="radio_2">
            <span>b) One-to-many</span>
          </label>
        </div>

        <div class="form-group">
          <label>
            <input type="radio" name="qustion7" class="radio_3">
            <span>c) Many-to-many</span>
          </label>
        </div>
      </div>

      <div class="question question8">
        <span class="question-title">
          8. Для чого потрібні роути?
        </span>
        <div class="form-group">
          <label>
            <input type="radio" name="qustion8" class="radio_1">
            <span>a) Роути описують підключення до бази даних</span>
          </label>
        </div>

        <div class="form-group">
          <label>
            <input type="radio" name="qustion8" class="radio_2">
            <span>b) Роути описують, на який контроллеру буде йти запит</span>
          </label>
        </div>

        <div class="form-group">
          <label>
            <input type="radio" name="qustion8" class="radio_3">
            <span>c) Роути непотрібні, опціональна річ</span>
          </label>
        </div>
      </div>

      <div class="question question9">
        <span class="question-title">
          9. Який клас є базовим для моделей?
        </span>
        <div class="form-group">
          <label>
            <input type="radio" name="qustion9" class="radio_1">
            <span>a) ActiveRecord::Model</span>
          </label>
        </div>

        <div class="form-group">
          <label>
            <input type="radio" name="qustion9" class="radio_2">
            <span>b) PassiveRecord::Model</span>
          </label>
        </div>

        <div class="form-group">
          <label>
            <input type="radio" name="qustion9" class="radio_3">
            <span>c) ORM::Model</span>
          </label>
        </div>
      </div>

      <div class="question question10">
        <span class="question-title">
          10. Який контроллер є базовим для контроллерів?
        </span>
        <div class="form-group">
          <label>
            <input type="radio" name="qustion10" class="radio_1">
            <span>a) PostsController </span>
          </label>
        </div>

        <div class="form-group">
          <label>
            <input type="radio" name="qustion10" class="radio_2">
            <span>b) ApplicationController</span>
          </label>
        </div>

        <div class="form-group">
          <label>
            <input type="radio" name="qustion10" class="radio_3">
            <span>c) CommentsController</span>
          </label>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-lg js-check">Проверить</button>
      </div>
    </section>

    <section class="results">
      <div class="alert alert-success" role="alert">
        <b>Увага!</b>
        Ваш результат: <span id="user_results"></span>
        <p>
          <button class="btn btn-lg btn-success js-again">Пройти тест ще раз</button>
        </p>
      </div>
    </section>

  </div>

  <footer class="text-center">
    <p>&copy; Круш Ігор ДА-21 ІПСА СП 2015</p>
  </footer>


</body>
</html>
